
  <!-- Conteúdo do link -->
<a [routerLink]="['/product',product.slug]">
    <div class= 'flex min-w-[156px] flex-col gap-4 w-[156px]  lg:w-[200px] lg:min-w-[200px]'>
        <div class="relative flex  aspect-square w-full items-center justify-center rounded-lg bg-accent">

            <img 
            src="{{product.imageUrls[0]}}"
            [height]="0"
            [width]="0"
            sizes='100vw'
            class='h-auto w-auto max-w-[80%] max-h-[70%]'
            [style.objectFit]="'contain'"
            alt="{{product.name}}" />

          <!-- Símbolo de desconto -->
          <div hlmBadge class="absolute left-2 top-2 px-2 py-[1px]">
            <lucide-icon name="arrow-down" size="12"></lucide-icon>


          </div>

        </div>

        <div>
          <p class="truncate text-sm">{{product.name}}</p>
          
          <div class="flex items-center gap-1 ">
            <!-- Produtos que possuem preço com desconto -->
            <div *ngIf="product.discountPercentage>0" >
              <p class="truncate font-semibold lg:text-lg"> 
              R$ {{productWithPrice?.totalPrice?.toFixed(2)}}
              </p>
              <p class="truncate text-xs line-through opacity-75 lg:text-sm">
                R$ {{ productWithPrice?.basePrice?.toFixed(2)}}
              </p>
            </div>

              <!-- Produtos que possuem preço sem desconto -->
            <div *ngIf="product.discountPercentage==0" >
                <p class="truncate font-semibold lg:text-lg"> 
                R$ {{productWithPrice?.basePrice?.toFixed(2)}}
                </p>
            </div>
          </div>


        </div>

  
    </div>
</a>