<!-- Buscar as categorias do backend -->

<a [routerLink]="['/category', category.slug]" >
    <div class="flex flex-col">
        <div class="flex h-[150px] w-full items-center justify-center rounded-tl-lg rounded-tr-lg bg-gradient-to-br from-purple-950 to-[rgba(80,51,195,0.2)]">
    
            <img 
            src="{{category.imageUrl}}"
            alt="{{category.name}}"
            sizes='100vw'
            class='h-auto w-auto max-w-[80%] max-h-[70%]'
            >
        </div>
        <div class="rounded-bl-lg rounde-br-lg bg-accent">
            {{category.name}} 
            <p class="text-center text-sm font-semibold"> </p>
        </div>
    </div>
</a>