
<div class='py-8' >

    <img 
    [src]="" 
    alt="Desconto de até 55%" 
    height={0} 
    width={0} 
    class='h-auto w-full mt-5 p-5' sizes='100vw'/>
   
    

    <div class="mt-5 p-5">
        <app-category></app-category> 
      
    </div>
    


    <div class='mt-8 '>
        <p  class='mb-3 pl-5 font-bold uppercase '>Ofertas</p>
        <app-product-list  [products]="products"></app-product-list>
      
    </div>

    <img 
    src="" 
    alt="Desconto de até 55% em mouses" 
    height={0} 
    width={0} 
    class='h-auto w-full mt-5 p-5' sizes='100vw'/>

    
   

    
     
    <div class='mt-8'>
        <p class='mb-3 pl-5 font-bold uppercase '>Teclados</p>
        <app-product-list  [products]="keyboards"></app-product-list>      
    </div>

    <img 
    src=" " 
    alt="Desconto de até 55% em fones"  
    height={0} 
    width={0} 
    class='h-auto w-full mt-5 p-5' sizes='100vw'/>

    
    <div class='mt-8'>
        <p class='mb-3 pl-5 font-bold uppercase '>Mouses</p>
        <app-product-list  [products]="mouses"></app-product-list>    
    </div>
    
         
  </div >